img.a {
    display: block;
}
img.inset {
    margin-left: 5em;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
I don't like how the image displays bellow
img.floats {
    float: left; 
    margin: 0 .75em .5em 0; 
}
*/
p   {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    
}
p.clear {
    clear: both;
}
p.important {
    font-size: 1.5em;
    font-weight: 900;
    
}
p.nowrap {
    clear: both;
}

div#header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}
div#invisible_header {
    width: 100%;
    visibility: hidden;
    z-index: -1;
}

div#header h2, div#invisible_header h2{
    /*margin: auto auto 7 auto;*/
    width: 100%;
    background-color: crimson;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    /*text-align: center;*/
    color: white;*
}
div#header img {
    float: left;
    margin: 1% 0 1% 1%;
}

div#invisible_header img {
    float: left;
    margin: 1% 0 1% 1%;
}
div#navbar {
    clear:both;
    /*background-color: beige;*/
   /* display: inline-block;*/
    width: 100%;
    position: fixed;
    z-index: 9;
}
div#navbar ul {
    list-style-type: none;
    padding-left: 0;
}
div#navbar ul li {
    /*background-color: beige;*/
    font-family: font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: inline;
    font-size: 1.4em;
    font-weight: 800;
    width: 21%;
    float: left;
    margin: 0 0 .25em .5em;
    padding: 1em 1em 1em 0;
}
li.changeBackground {
    background-color: navy;
    
    
}
li.changeBackground:hover {
    background-color: blue;
  
}
li.changeBackground:active {
    background-color: royalblue;
    
}

iframe {
    position: relative;
    top: 400px;
    float: left;
}

div#history {
    position: relative;
    z-index: 2;
    width: 45%;
    margin: 3 auto 1 6;,
    padding: 2em;
    top: 180px;
    float: left;

}
div#credentials {
    
    position: relative;
    z-index: 2;
    width: 30%;
    margin: 3 auto 1 3;,
    padding: 2em;
    top: 180px;
    float: right;
    background-image: url("http://www.asmarterwaytolearn.com/gray-gradient-slice.png");
    float: right;
}

    
}
/*h1  {
    font-family: "Trebuchet MS", helvetica, sans-serif;
    font-size: 2em;
}*/
h2#orange {
    color: orange;
}


h1, h2, h3, h4, p.center {
    text-align: center;
}
.typewriter {
    font.family: "Courier New", Courier, monospace;
}
.emphacized {
    font-style: italic;
}
.red {
    color: #cc0000;
}
p.readable {
    line-height: 1.8em;
    word-spacing: .2em;
    letter-spacing: .1em;
    text-align: justify;
    text-indent: 1em;
}

blockquote { 
    font-size: .9em; 
    color: crimson;
    position:relative;
    top: 120px;
}
p.margin {
    margin: 2em 2em 2em 2em;
}
.boxed {
   
    border: 3px ridge navy;
    text-align: center;
    padding: 2em 4em 2em 4em;
    width: 30%;
    margin: 0 auto 0 auto;
}

a {
    color: white;
}

a:hover {
    color: crimson;
}

a:active {
    color: azure;
}
li {
    margin-bottom: .75em;
}
ul {
  list-style-type: square;
}
div#skills ul{
   /* font-size: 2em;*/
    color: red;
}
table#languages th, td {
    border: 2px solid teal;
    padding: .25;
   /* width: 50%;*/
}
/*table#languages {
    border-collapse:collapse;
    width: 50%;
    text-align: center;
}*/
tr.even {
    background-color: lightgrey;
}
form {
    width: 50%;
    margin: 0 auto 0 auto;
}
input[type=text], textarea {
    font-size:1.8em;
    padding: .3em;
}
@media only screen and (min-device-width: 800px){
    p.testmedia {
        font-family: "Comics Sans MS", cursive, sans-serif;
        max-width: 100px;
        max-height: 100px;
        overflow: scroll;
        
    }
}
body {
    background-image: url("http://www.asmarterwaytolearn.com/monarch.jpg");
    background-position: right top;
    background-position: fixed;
    background-repeat: no-repeat;
}

.testmedia {
    max-width: 300px
    font-alignment: center;
}