/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  margin-bottom: auto;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 45px;
}
.navbar-brand h1 { /*Brand Name */
  font-family: 'Lora', serif;
  color: blue;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {

  clear: all;
 margin-top: 0;
 margin-bottom: auto;

  
}
#nav-list a {

  border-top: 2px solid black;
  color: #f6b319;
  background-color: blue;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#nav-list a:hover {

  background-color: black;
}

  

 #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;

  }
 
.row {
 
  position: relative;
}

#main-text{

  display: block;
  overflow: scroll;
  height: 1000px;
  padding: 10px;
  margin: 20px;
  border: 2px solid blue;
  background-color: gray;
  font-weight: bold;

 }
